<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HelloWorldProject</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <!--  Servlet Description -->
  <servlet> 
  <servlet-name> loginServ</servlet-name>
  <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet> 
  <servlet-name> registerlog</servlet-name>
  <servlet-class>Servlets.regServlet</servlet-class>
  </servlet>  
<!-- Context Param -->
   <!-- Context Params -->
   <context-param>
   	<param-name>Driver</param-name>
   	<param-value>oracle.jdbc.driver.OracleDriver</param-value>
   </context-param>
   <context-param>
   	<param-name>URL</param-name>
   	<param-value>jdbc:oracle:thin:@localHost:1521:xe</param-value>
   </context-param>
   <context-param>
   	<param-name>username</param-name>
   	<param-value>chinook</param-value>
   </context-param>
   <context-param>
   	<param-name>password</param-name>
   	<param-value>p4ssw0rd</param-value>
   </context-param>


  <!--  Servlet Mapping -->
  <servlet-mapping>
  <servlet-name>loginServ</servlet-name>
  <url-pattern>/loginSubmit</url-pattern>
  </servlet-mapping>	

  <servlet-mapping>
  <servlet-name>registerlog</servlet-name>
  <url-pattern>/register</url-pattern>
  </servlet-mapping>	  
</web-app>